VITE_API_PRODUCT=https://.execute-api.eu-west-1.amazonaws.com/dev
VITE_API_ORDER=https://.execute-api.eu-west-1.amazonaws.com/dev
VITE_API_IMPORT=https://.execute-api.eu-west-1.amazonaws.com/dev
VITE_API_BFF=https://.execute-api.eu-west-1.amazonaws.com/dev
VITE_API_CART=https://.execute-api.eu-west-1.amazonaws.com/dev
PROFILE=DEFAULT